// less混合器语法：
// 解决移动端1px边框问题
// 移动端window对象有个devicePixelRatio属性，它表示设备物理像素和css像素的比例
// 在retina屏的iphone手机上，这个值为2或3，css里写的1px长度映射到物理像素上就有2px或3px那么长
// iphone: 2px;     iphone plus: 3px;
// 解决方法
.border-1px(@color) {
    position: relative;
    &:after {
        content: ' ';
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 1px solid @color;
    }
}

// 文本使用px作为单位，使用[data-dpr]属性来区分不同dpr下的文本字号大小
.font-dpr (@font-size) {
    font-size: @font-size;
    [data-dpr="2"] & {
        font-size: @font-size*2px;
    }
    [data-dpr="3"] & {
        font-size: @font-size*3px;
    }
}
// 如果需要根据不同终端进行适配，也可以使用rem来作为计量单位

// 每一个section的上边距
.spt() {
    padding-top: 0.6667rem;
}

// 单行超出显示...
.sigle-over() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}